<?xml version = "1.0" ?>
<VBox id="ProfileSettingsVBox1" type="Pane" style="view_resources/launcher/css/ProfileSettingsVBox.css">
  <Height>750</Height>
  <Width>1050</Width>
  <ChoiceBox id="ColorThemeSelector" type="Leaf">
    <Options>JJJario,Darkside,Forest,Generic,JinCho</Options>
    <Event method="setOnAction">
      <Type>ChangeTheme</Type>
    </Event>
  </ChoiceBox>
</VBox>