#ProfileMenuHBoxText {
    -fx-background-color:-dark-color;
    -fx-alignment: CENTER;
}

#ProfileMenuHBoxImage {
    -fx-background-color:-dark-color;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}