HBox {
    -fx-background-color: darkslateblue;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
}

Text {
    -fx-fill: #e8e2f7;
    -fx-text-alignment: right;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-wrap-text: true;
}

TextField {
    -fx-background-color: mediumslateblue;
    -fx-text-fill: #e8e2f7;
    -fx-text-alignment: left;
    -fx-font-family: "Roboto Light";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-wrap-text: true;
}